/* CSS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

* {
  background-color: beige;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Cambiato a 'center' */
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

#titleContainer {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 13px;
}

#startButton {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 10%;
  height: auto;
  text-align: center;
}

#timerDisplay {
  font-size: 24px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%); /* Modificato per centrare orizzontalmente */
}

#errorMessage {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  color: white;
  padding: 10px;
  z-index: 1;
}

.container {
  pointer-events: none;
  grid-template-columns: repeat(20, 33px);
  grid-template-rows: repeat(15, 33px);
  grid-gap: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none !important;
}

.oggetto {
  background-color: white;
  color: white;
  text-align: center;
  border-width: 1px;
  border: solid black;
  height: 30px;
  width: 30px;
}

#clientDisplay {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 10%;
}

#winnerDisplay {
  display: none;
  position: absolute;
  bottom: 10%;
  right: 50%;
  transform: translate(50%, -50%); /* Modificato per centrare verticalmente e orizzontalmente */
  font-size: 24px;
  color: green;
}

#hoverDiv {
  position: fixed;
  top: 50%;
  left: 90%;
  transform: translateX(-50%);
  padding: 10px;
  cursor: pointer;
  color: black;
  font-size: 20px;
  text-decoration: underline;
}

#customText {
  display: none;
  width: 380px;
  height: 350px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 5px;
  text-align: center;
}